/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
/*MY CODE - starts with style for the mobile version of the website*/
*{
  text-decoration: none;
  margin: 0;
  padding: 0;
}
.grid {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 3;
  grid-template-areas:
  "header"
  "main"
  "footer"
}
h3 {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 20px;
  font-family: sans-serif;
  padding: 10px 30px;
}
p {
  font-size: 16px;
  font-family: sans-serif;
  font-weight: normal;
  text-align: justify;
  line-height: 1.3;
  padding: 5px 30px;
}
.chinese-list li {
  font-size: 16px;
  font-weight: bold;
  padding: 10px 0 10px 45px;
  list-style: none;
}
.graded-reader {
  display: block;
  margin: 10px auto;
  width: 50%;
}
main {
  grid-area: main;
  padding-top: 10px;
}
body {
  background-color: #B762E8
}
header {
  grid-area: header;
  top:0;
  right:0;
  left: 0;
  width: 100%;
  height: 120px;
}
header .header-brand {
  text-decoration: none;
  font-family: fantasy;
  font-size: 24px;
  font-weight: 900;
  color: #123456;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0;
  background-color: #B762E8;
}
/*Style to move around the entire navigation inside the website*/
header nav ul {
  display: block;
  margin: 0 auto;
  width: fit-content;
}
/*Style to move around the individual links inside the unordered list*/
header nav ul li {
  display: inline-block; /*To make the list go horizontally*/
  float: left;
  list-style: none;
  padding: 0 2px;
  padding-top: 5px;
  height: 20px; /*This is the same height as the navigation tab.*/
}
/*To style the actual text inside the link*/
header nav ul li a {
  text-decoration: none;
  font-family: arial;
  font-size: 16px;
  color: #111;
}
header nav ul li a:hover {
  color: red;
}
header h1 {
  display: block;
  height: 20px;
  text-decoration: none;
  color: blue;
  font-size: 13px;
  font-family: sans-serif;
  margin: 0;
  background-color: rgb(0,0,0);
  text-align: center;
  padding-top: 5px;
}
nav {
  width: 100%;
  height: 25px;
  padding: 0 auto;
  background-color: #eee;
}
/*responsive design*/
.wrapper {
  width: 100%;
}
.img-info {
  width: 100%
}
.img-info h2 {
  padding: 30px 30px 20px;
  font-family: arial;
  font-size: 40px;
  color: #111;
  line-height: 44px;
}
.img-info p {
  padding: 0px 30px 20px;
  font-family: arial;
  font-size: 16px;
  color: #111;
  line-height: 24px;
  text-align: justify;
}

/*To style the carousel*/
.carousel-wrapper {
  overflow: hidden;
  width: 90%;
  margin: auto;
}
.carousel-wrapper * {
  box-sizing: border-box;
  /*Create border to improve look*/
}
.carousel {
  transform-style: preserve-3d;
}
.carousel__photo {
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  margin: auto;
  padding: 1rem 0;
  z-index: 100;
  transition: transform .5s, opacity .5s, z-index .5s;
}
.carousel__photo.initial,
.carousel__photo.active {
  opacity: 1;
  position: relative;
  z-index: 900;
}
.carousel__photo.prev,
.carousel__photo.next {
  z-index: 800;
}
.carousel__photo.prev {
  transform: translateX(-100%); /* Move 'prev' item to the left */
}
.carousel__photo.next {
  transform: translateX(100%); /* Move 'next' item to the right */
}
.carousel__button--prev,
.carousel__button--next {
  position: absolute;
  top:50%;
  width: 3rem;
  height: 3rem;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1001; /* Sit on top of everything */
}
.carousel__button--prev {
  left:0;
}
.carousel__button--next {
  right:0;
}
.carousel__button--prev::after,
.carousel__button--next::after {
  content: " ";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 54%;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  transform: translate(-50%, -50%) rotate(135deg);
}
.carousel__button--next::after {
  left: 47%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.carousel__button--prev:hover,
.carousel__button--next:hover {
  background-color: rgba(126, 126, 126, 0.8);
}

/*FOOTER*/
footer {
  grid-area: footer;
  width: calc(100% - 80px);
  height: 130px;
  padding: 40px 40px;
  background: #111
}
footer ul {
  width: fit-content;
  padding-left: 20px;
}
footer ul li {
  display: block;
  list-style: none;
}
footer ul li a{
  text-decoration: none;
  font-family: arial;
  font-size: 18px;
  color: #fff;
  line-height: 30px;
}
.eternal-links {
  display: none;
}
/*responsive design for landscape phone*/
@media only screen and (min-width: 600px) {
  .graded-reader {
    float: right;
    padding: 5px 20px;
  }
}
/*responsive design (for ipad)*/
@media only screen and (min-width: 768px) {
  .banner {
    display: block;
  }
  .wrapper {
    width: 600px;
    margin: 0 auto;
  }
  .img-info h2 {
    padding: 50px 0px 0px;
  }
  .img-info p {
    padding: 20px 0px 00px;
    font-size: 25px;
  }
  #top-of-page {
    padding-top: 50px;
  }
  header nav ul li {
    padding: 0 18px;
  }
  header nav ul li a{
    font-size: 26px;
  }
  header nav {
    height: 40px;
    padding-top: 10px;
  }
  header h1 {
    height: 40px;
    font-size: 26px;
    padding-top: 10px;
  }
  p {
    font-size: 25px;
    padding: 0;
  }
}
/*responsive design (for pc)*/
@media only screen and (min-width: 1000px) {
  .wrapper {
    width: 1000px;
  }
  .img-info {
    width: 50%;
    float: right;
  }
  .img-info h2 {
    padding: 20px 0px 0px 30px;
  }
  .img-info p {
    padding: 20px 0px 0px 30px;
  }
  .img-me {
    width: 50%;
    float: left;
  }
  header .header-brand {
    margin: 0;
    text-align: left;
    line-height: 50px;
    padding: 0 40px 0 40px;
    border-right: 3px solid #111;
    float: left;
    background-color: #eee;
  }
  .chinese-list li {
    font-size: 24px;
    font-weight: bold;
    padding: 20px 0 20px 40px;
    list-style: none;
  }
  h3 {
    font-size: 36px;
  }
  /*CAROUSEL*/
  .carousel-wrapper {
    width: 45%;
    padding-top: 50px;
  }
  /*FOOTER*/
  footer {
    width: calc(100% - 80px);
    height: 130px;
    padding: 40px 40px;
    margin-top: 20px;
    background: #111;

    display: flex;
  }

  .links {
    text-decoration: none;
    font-family: arial;
    font-size: 18px;
    color: #fff;
    line-height: 30px;
  }
  .eternal-links {
    display: block;
  }
}
